@use 'sass:color'; /// https://sass-lang.com/documentation/modules/color/

$orange: #ee6900;
$dark-orange: color.adjust($orange, $lightness: -28%);
$med-gray: color.adjust($orange, $saturation: -90%, $lightness: -21%);
$text-gray: color.adjust($med-gray, $lightness: 49%);
$nav-gray: color.adjust($med-gray, $lightness: -7%);
$dark-gray: color.adjust($med-gray, $lightness: -18%);
@debug "orange" $orange $dark-orange;
@debug "gray" $text-gray $light-gray $med-gray $dark-gray;

html {
	font-size: 18px;
	background-color: $dark-gray;
	color: $light-gray;
	font-family: 'Vollkorn', serif;
	height: 100%;
}
body {
	margin: 0px;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.visual-header {
	align-self: stretch;
	flex-direction: column;
	display: flex block;
}
.visual-header > nav {
	background: $nav-gray;
	align-self: center;
	width: 50%;
	flex-direction: row;
	display: block flex;
	margin: 0 0 0 0;
}
/// https://stackoverflow.com/a/31854299
/// credit also goes to the incredibly cute emma🍞, who suggested clip-path in the first place.
.nav-item {
	padding: 4px 24px;
    background: $dark-gray;
	width: 20%;
	height: 20px;
	&-selected {
		@extend .nav-item;
		background: $med-gray
	}
}
.nav-item > div {
	color: $text-gray;
	margin: auto;
}
main {
	background: $med-gray;
	color: $text-gray;
	width: 50%;
	flex: 1 1 auto;
}
article {
	padding: 1% 2%;
}
a{
	text-decoration: none;
}
a:link{
	color: $orange;
}
a:visited{
	color: $dark-orange;
}
a:hover, a:focus{
	background-color: $orange;
}
h1, h2{
	font-family: 'Open Sans', sans-serif;
}