$light-gray: #aa9d92;
$med-gray: #2b2825;
$dark-gray: #1f1c1a;
$orange: #ee6900;
$dark-orange: #b04e00;

html {
	font-size: 18px;
	background-color: $dark-gray;
	color: $light-gray;
	font-family: 'Vollkorn', serif;
	height: 100%;
}
body {
	margin: 0px;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.visual-header {
	background: $light-gray;
	align-self: stretch;
	flex-direction: column;
	display: flex block;
}
.visual-header > nav {
	align-self: center;
	width: 50%;
	flex-direction: row;
	display: block flex;
	margin: 0.5% 0 0 0;
}
/// https://stackoverflow.com/a/31854299
/// credit also goes to the incredibly cute emma🍞, who suggested clip-path in the first place.
.nav-item {
	padding: 4px 24px;
	clip-path: polygon(0% 0%,
                   65% 0%,
                   100% 100%,
                   0% 100%);
    background: #FF00FF;
	width: 40px;
	height: 20px;
}
.nav-item > div {
	clip-path: inset(0% 0%,
                   50% 0%,
                   100% 100%,
                   0% 100%);
	background: #00FF00;
	width: 36px;
	height: 16px;
}
a.nav-item > div {
	background: $light-gray;
	color: $dark-gray;
}
main {
	background: $med-gray;
	color: $light-gray;
	width: 50%;
	flex: 1 1 auto;
}
.test {
  margin:100px auto;
  clip-path: polygon(0% 0%,
                   65% 0%,
                   100% 100%,
                   0% 100%);
  border: solid red;
}
article {
	padding: 4px 8px;
}
a{
	text-decoration: none;
}
a:link{
	color: $orange;
}
a:visited{
	color: $dark-orange;
}
a:hover, a:focus{
	text-decoration: underline;
}
h1, h2{
	font-family: 'Open Sans', sans-serif;
}