$light-gray: #aa9d92;
$med-gray: #2b2825;
$dark-gray: #1f1c1a;
$orange: #ee6900;
$dark-orange: #b04e00;

html {
	font-size: 18px;
	background-color: $dark-gray;
	color: $light-gray;
	font-family: 'Vollkorn', serif;
	height: 100%;
}
body {
	margin: 0px;
	height: 100%;
}
.flex-header{
	display: flex;
	flex-direction: row;
    justify-content: center;
  	align-items: center;
	background-color: $light-gray;
}
div.button{
	min-width: 100px;
    line-height: 20px;
    color: $dark-gray;
    background-color: $light-gray;
    padding: 8px;
    margin: 0px;
    text-align: center;
}
div.button:hover{
	background-color: $orange;
}
.flex-body{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.flex-body > div{
	width: 900px;
	padding: 16px;
	align-self: center;
	background-color: $med-gray;
	// from https://stackoverflow.com/a/24979148
	flex: 1 1 auto;
}
a{
	text-decoration: none;
}
a:link{
	color: $orange;
}
a:visited{
	color: $dark-orange;
}
a:hover, a:focus{
	text-decoration: underline;
}
h1, h2{
	font-family: 'Open Sans', sans-serif;
}